body {
  display:none;
  background-image: repeating-radial-gradient(
    circle at 0 0,
    #eee,
    /*13992d*/
    #ccc 50px
    );
}
#section3 {
  text-align: center;
}
ul {
  list-style-position: inside;
}
