body{
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
#level1{
  color: white;
}
.row{
  padding-top: 20px;
  padding-bottom: 20px;
}
.jumbotron{
  color: #454647;
  text-align: center;
  font-style: italic;
  background-image: url("images/riddler_banner.webp");
  background-repeat: no-repeat;
}
#firstLevelScore, #scoreSheet{
display: none;
float: right;
}
#scoreSheet{
  font-size: 13px;
  color: black;
}
#aboutLevel1{
  text-align: center;
  text-decoration: underline;
}
.about{
  text-align: center;
}
.levelAbout{
  font-weight: bold;
  font-size: 27px;
}
#col-container{
  height: 700px;
}

.col-sm-4{
  float: left;
  padding: auto;
  text-align: center;
  display: none;
}
.col-md-8{
  border-right: 1px black solid;
  font-size: 17px;
}

#gameForm{
  padding-top: 100px;
}
#score{
  margin-left: 7px;
  border-radius: 25px;
  display: none;
  background-color: #e8eaed
}
#gameCanvas{
  border: 1px solid black;
}
#hiddenImage, #hiddenImage1{
  display: none;
}
canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}
